@keyframes oscillate {
    from {
      transform: translateY(8px);
    }
    to {
      transform: translateY(-8px);
    }
  }
  
  .flag {
    display: flex;
    aspect-ratio: 3 / 2;
  }
  
  .column {
    flex: 1;
    background: linear-gradient(
      to bottom,
      hsl(200deg 85% 70%) 0%,
      hsl(200deg 85% 70%) 20%,
      hsl(350deg 85% 85%) 20%,
      hsl(350deg 85% 85%) 40%,
      hsl(0deg 0% 100%) 40%,
      hsl(0deg 0% 100%) 60%,
      hsl(350deg 85% 85%) 60%,
      hsl(350deg 85% 85%) 80%,
      hsl(200deg 85% 70%) 80%,
      hsl(200deg 85% 70%) 100%
    );
    animation: oscillate 500ms infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
  }